<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail (order_id, name, image, dish_id, setmeal_id, dish_flavor, number, amount)
        values
        <foreach collection="orderDetailList" item="orderDetail" separator=",">
            (
            #{orderDetail.orderId}, #{orderDetail.name}, #{orderDetail.image},
            #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.dishFlavor},
            #{orderDetail.number}, #{orderDetail.amount}
            )
        </foreach>
    </insert>
</mapper>
